* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

@font-face {
	font-family: "graviola-light";
	src: url(../assets/fonts/WOFF/GraviolaSoft-Light.woff);
}
@font-face {
	font-family: "graviola-bold";
	src: url(../assets/fonts/WOFF/GraviolaSoft-Bold.woff);
}
@font-face {
	font-family: "graviola-regular";
  src: url(../assets/fonts/WOFF/GraviolaSoft-Regular.woff);
}
@font-face {
	font-family: "graviola-book";
  src: url(../assets/fonts/WOFF/GraviolaSoft-Book.woff);
}

body, html{
    height: 100%;
    background-color: #ffffff;
}

a{
    text-decoration: none;
}

header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    overflow: hidden;
}

.bg-image{
    position: relative;
    background: rgb(37, 209, 160);
    background: linear-gradient(76deg, rgba(37, 209, 160, 1) 12%, rgba(95, 39, 205, 1)83%);
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0, 100% 82%, 60% 93.5%, 0 82%);
}

.imagem-fundo{
    z-index: -1;
    position: absolute;
    width: 100%;
    background-position: center center;
    opacity: 0.8;
}   

/*------------- menu -------------*/

.container-menu-mandarin{
    position: relative;
    width: 100%;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}

.menu-mandarin-icon {
    position: relative;
    width: 10%;
    height: 50%;
    margin-left: 20%;
}

.menu-options{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    margin-right: 20%;
}

.menu-options-mobile{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.bg-menu-mobile{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 170px;
}

.menu-options p, .menu-options-mobile p{
    font-family: 'graviola-regular';
    font-size: 1em;
    color: #ffffff;
}

.menu-options-mobile p{
    margin-bottom: 15px;
}

.menu-options a{
    text-decoration: none;
}

.menu-options a:hover{
    color: red;
}

.icon-responsive-menu{
    display: none;
    margin-right: 10vw;
}

/*------------- video area -------------*/
.container-line-video{
    width: 54%;
    max-height: 900px;
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    min-width: 400px;
}

.container-line-video img{
   height: 60%;
}

.container-video-conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-player{
    width: 100%;
    height: 25vw;
}


.video-player img{
    width: 100%
}

.text-video{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'graviola-light';
    font-size: 1.5em;
    color: #ffffff;
    margin-top: 2%;
    padding: 5px;
}

.paragraph-left{
    width: 48%;
}

.paragraph-right{
    width: 48%;
}

.txt-video-bold{
    font-family: 'graviola-regular';
    font-size: 1em;
    color: #ffffff;
}

/*------------- health cycle -------------*/

.container-health-cicle{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 10vw;
}

.title-health-cycle{
    width: 25vw;
    min-width: 300px;
}

.container-health-cicle p{
    width: 48%;
    font-family: 'graviola-light';
    font-size: 1.2em;
    color: #4B4B4B;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-circles{
    width: 68vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cycles-img{
    width: 60vw;
    margin-top: 5%;
}

.cycles-img-vert{
    height: 60vw;
    display: none;
    min-height: 600px;
}

.container-icons-circles{
    width: 98.8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -17vw;
}

.icons-circles{
    width: 8vw;
}

#pdv{
    width: 5.8vw;
}

/*------------- Serviços -------------*/

.container-servicos{
    width: 100%;
    background: transparent linear-gradient(180deg, #F5F5F5 0%, #F8F8F8 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-servicos p{
    font-family: 'graviola-bold';
    font-size: 3.4em;
    color:#360C96; 
    margin-top: 80px;
}

.container-cards{
    width: 70%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8vw;
}

.card-servicos{
    background-color: #ffffff;
    width: 280px;
    height: 280px;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    margin-bottom: 20px;
}

.card-servicos img{
    height: 35%;
    margin-bottom: 2vw;
    margin-top: 1.5vw;
}

.card-servicos p{
    font-size: 1em;
    color: #330195;
    text-align: center;
    margin: 0px;
}

/*------------- health tech -------------*/

.container-health-tech{
    background-image: url(../assets/images/background_health_tech.png);
    background: rgb(34,193,195);
    background: linear-gradient(41deg, rgba(34,193,195,0.5) 70%, rgba(45,253,191,1) 100%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.health-tech-arrow{
    position: absolute;
    width: 16vw;
    margin-top: -150px;
}

.container-svg-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 220px;
}

.container-svg-text img{
    position: absolute;
    margin-left: 4vw;
}

.container-svg-text p{
    width: 33vw;
    font-size: 1.8em;
    font-family: 'graviola-light';
    color: #FFFFFF;
    margin-left: 43vw;
}
.container-svg-text strong{
    font-family: 'graviola-bold';
    font-size: 1em;
    color: #ffffff;
}

.line{
    width: 56vw;
    margin-top: 20px;
    border-top: 1px solid #fff;
}

.container-plataformas{
    width: 55%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4vw;
}

/*------------- health tech -------------*/

.bg-health-tech{
    position: absolute;
    width: 100%;
    min-height: 510px;
    background-position: center center;
}

.container-health-tech{
    background: rgb(34,193,195);
    background: linear-gradient(41deg, rgba(34,193,195,0.5) 70%, rgba(45,253,191,1) 100%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.health-tech-arrow{
    width: 16vw;
    margin-top: -8%;
}

.container-svg-text{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.container-svg-text img{
    position: absolute;
    width: 700px;
    margin-left: 5%;
}

.container-svg-text p{
    width: 28vw;
    height: 200px;
    font-size: 1.8em;
    font-family: 'graviola-light';
    color: #FFFFFF;
    margin-left: 520px;
    margin-top: 100px;
}
.container-svg-text strong{
    font-family: 'graviola-bold';
    font-size: 1em;
    color: #ffffff;
}

.line{
    width: 56vw;
    margin-top: 10px;
    border-top: 1px solid #fff;
}

.container-plataformas{
    width: 55%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

/*------------- Cases -------------*/

.container-cases{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(248,248,248);
    background: linear-gradient(0deg, rgba(248,248,248,1) 42%, rgba(255,255,255,1) 100%);
}

.container-cases img{
    margin-top: 50px;
    margin-bottom: 40px;
}

.title-cases{
    font-size: calc(30px + 1.5vw);
    font-family: 'graviola-light';
    color: #3BD8E0;
    margin-bottom: 50px;
    margin: 0 20px 0 20px;
    text-align: center;
}

.container-cases strong{
    font-family: 'graviola-bold';
}

.btn-cases{
    width: 15vw;
    height: 3.5vw;
    min-width: 200px;
    min-height: 50px;
    border-radius: 0.7vw;
    background: rgb(34,193,195);
    background: linear-gradient(41deg, rgba(34,193,195,0.5) 70%, rgba(45,253,191,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;
    margin-top: 30px; 
    margin-bottom: 40px; 
}

.btn-cases img{
    width: 1.4vw;
    margin: 0px;
    min-width: 20px;
}

.button-cases-txt{
    font-family: 'graviola-bold';
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 0px;
    text-decoration: none;
}

/*------------- Footer -------------*/

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-text-map{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4vw;
    margin-bottom: 60px;
}

.footer-title{
    font-family: 'graviola-bold';
    font-size: 1em;
    color: #25D1A2;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
}

.footer-options{
    font-family: 'graviola-regular';
    font-size: 0.9em;
    color: #7E7E7E;
    margin-bottom: 0.4vw;
}

.footer-options:hover{
    color: #676767;
}

.fotter-tel{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fotter-tel img{
    margin-right: 5px;
}

.card-map{
    height: 100px;
    border-radius: 0.3vw;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    min-width: 300px;
    margin-bottom: 100px;
}

.card-map:hover{
    opacity: 0.8;
}

.card-map img{
    width: 26vw;
    min-width: 300px;
}

.content-map{
    padding: 0.3vw 1vw 0.3vw 1vw;
    background: rgb(34,193,195);
    background: linear-gradient(41deg, rgba(34,193,195,0.5) 70%, rgba(45,253,191,1) 100%);
    border-radius: 0.3vw;
}

.content-map p{
    font-family: 'graviola-bold';
    font-size: 1em;
    color: #FFF;
}

.container-icons-copyright{
    width: 55%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #E5E5E5;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.container-icons{
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-icons a:hover{
    filter: brightness(50%);
}

.container-icons-copyright p{
    font-family: 'graviola-bold';
    font-size: 0.9em;
    color: #25D1A2;
    margin-left: 25%;
}

@media only screen and (max-width: 1200px) {
    
    .imagem-fundo{
        width: 1200px;
    }

    .container-menu-mandarin{
        margin-top: 5%;
        margin-bottom: 0.5%;
    }

    .menu-mandarin-icon {
        position: relative;
        width: 20%;
        height: 50%;
        margin-left: 10%;
        min-width: 120px;
    }

    .icon-responsive-menu{
        display: block;
    }

    .menu-options{
        display: none;
    }

    .container-line-video{
        margin-top: 30px;
        margin-bottom: 220px;
    }

    .container-video-conteudo{
        margin-bottom: 40px;
    }

    .paragraph-left{
        width: 80%;
        margin-bottom: 20px;
    }
    
    .paragraph-right{
        width: 80%;
    }

    .line{
        margin-top: 40px;
    }

    .text-video{
        height: 250px;
        flex-direction: column;
        align-items: center;
        width: 90%;
        justify-content: space-between;
    }

    .container-text-map{
        height: 400px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    .card-map{
        margin: 0;
    }

    .container-plataformas{
        flex-direction: column;
        align-items: center;
        height: 300px;
    }

    .container-svg-text{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .container-svg-text p{
        width: 400px;
        margin-left: 0;
        margin-top: 320px;
        margin-bottom: 0;
    }

    .container-svg-text img{
        position: absolute;
        width: 700px;
        align-self: center;
    }

    .footer-title{
        text-align: center;
    }

    .footer-options{
        text-align: center;
    }

    .container-health-cicle p{
        width: 80%;
    }

    .bg-health-tech{
        height: 150%;
    }
    
}

@media only screen and (max-width: 750px) {
    .cycles-img{
        width: 60vw;
        margin-top: 5%;
        display: none;
    }
    
    .cycles-img-vert{
        height: 60vw;
        display: block;
    }

    .paragraph-left{
        width: 150%;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .paragraph-right{
        width: 150%;
        text-align: center;
    }

    .text-video{
        height: 300px;
        flex-direction: column;
        align-items: center;
        width: 50%;
        justify-content: space-between;
    }

    .container-line-video img{
        display: none;
    }
    .video-player{
        height: 50vw;
    }

    .container-icons-copyright{
        flex-direction: column;
    }

    .container-icons-copyright p{
        margin-left: 0;
        margin-top: 15px;
        min-width: 180px;
    }

    .container-svg-text img{
        width: 80%;
        min-width: 300px;
    }

    .container-svg-text p{
        width: 300px;
        margin-left: 0;
        margin-top: 150px;
        text-align: center;
    }

    .line{
        margin-top: 70px;
    }

    .container-health-cicle p{
        text-align: center;
    }
    
}